# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MHRArmorBuilder.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\bad_g\source\repos\MHRArmorBuilder\.idea\.idea.MHRArmorBuilder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/